.home-container {
  background-image: url("https://i.pinimg.com/1200x/a5/4f/07/a54f07cce3814b66b1abd71c14eac08b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}